:root {
  --color-main: #ff385c;
  --color-dark-text: #000000;
  --color-light-text: #717171;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  --box-shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.18);
  --background-color-hover: #f2f2f2;
  --border: 1px solid #dbdbdd;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  z-index: 100;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scaleY(0);
  transition: transform 0.25s cubic-bezier(0.2, 0, 0, 1);
}

.header-scale::after {
  content: "";
  transform: scaleY(3);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 100%;
}

.header-coverScreen.on {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 25%);
  top: 0;
  z-index: 99;
  bottom: 0;
}

.header-logo {
  flex: 1;
  z-index: 1;
}

.header-search {
  z-index: 1;
}

.header-user {
  flex: 1;
  z-index: 1;
}

.logo-link {
  display: inline-flex;
  height: 80px;
  align-items: center;
}

.header-search {
  height: 48px;
}

.search-container {
  display: flex;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  align-items: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  opacity: 1;
  visibility: visible;
  transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms ease, opacity 100ms ease, visibility 0ms 50ms;
}

.search-container.scale-transform {
  transform: scale(2.4, 1) translateY(80px);
  visibility: hidden;
  opacity: 0;
}

.search-container:hover {
  box-shadow: var(--box-shadow-hover);
}

.search-separator {
  width: 1px;
  height: 24px;
  background-color: #dbdbdb;
}

.search-location,
.search-time,
.search-people {
  position: relative;
  z-index: 1;
  height: 100%;
  border: none;
  cursor: pointer;
  line-height: 22px;
  font-size: 14px;
  color: var(--color-dark-text);
  padding: 0 20px;
  font-weight: 500;
  background-color: transparent;
}

.search-people {
  display: flex;
  align-items: center;
  color: var(--color-light-text);
  justify-content: space-between;
  padding: 0;
  font-weight: 300;
}

.search-people > span {
  padding: 0 20px;
}

.search-icon {
  padding: 10px;
  background-color: var(--color-main);
  border-radius: 100%;
  margin: 8px 8px 8px 0;
}

.search-icon svg {
  color: white;
  height: 32px;
  width: 32px;
}

.search-feature {
  position: absolute;
  width: 100%;
  background-color: rgba(29, 105, 124, 0.25);
  left: 0;
  top: 0;
  height: 100%;
}
.search-feature-container {
}
.search-feature-nav {
}
.search-feature-content {
}

.header-user {
  height: 100%;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.user-feature {
  display: flex;
  align-items: center;
}

.feature-lease {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 40px;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lease-link div {
  font-weight: 500;
}

.feature-lease:hover {
  background-color: var(--background-color-hover);
}

.feature-language {
  display: flex;
  padding: 10px;
  background-color: transparent;
  border-radius: 40px;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.feature-language:hover {
  background-color: var(--background-color-hover);
}

.feature-language button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sign-container {
  border: var(--border);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 10px;
}

.sign-container:hover {
  box-shadow: var(--box-shadow-hover);
}

.sign-container > button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 4px 0;
}

.user-icon {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

.nav-icon {
  padding: 0 10px;
}

.user-icon svg {
  color: var(--color-light-text);
  width: 100%;
  height: 100%;
}
