.header {
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  z-index: 100;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scaleY(0);
  transition: transform 0.25s cubic-bezier(0.2, 0, 0, 1);
}

.header-scale::after {
  content: "";
  transform: scaleY(3);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 100%;
}

.header-coverScreen.on {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 25%);
  top: 0;
  z-index: 99;
  bottom: 0;
}

.header-logo {
  flex: 1;
  z-index: 2;
}

.header-search {
  z-index: 1;
}

.header-user {
  flex: 1;
  z-index: 2;
}

.logo-link {
  position: inherit;
  display: inline-flex;
  height: 80px;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.header-search {
  height: 48px;
}

.search-container {
  display: flex;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  align-items: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  opacity: 1;
  visibility: visible;
  transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms ease, opacity 100ms ease, visibility 0ms 50ms;
}

.search-container.scale-transform {
  transform: scale(2.4, 1) translateY(80px);
  visibility: hidden;
  opacity: 0;
}

.search-container:hover {
  box-shadow: var(--box-shadow-hover);
}

.search-separator {
  width: 1px;
  height: 24px;
  background-color: #dbdbdb;
}

.search-location,
.search-time,
.search-people {
  position: relative;
  z-index: 1;
  height: 100%;
  border: none;
  cursor: pointer;
  line-height: 22px;
  font-size: 14px;
  color: var(--color-dark-text);
  padding: 0 20px;
  font-weight: 500;
  background-color: transparent;
}

.search-people {
  display: flex;
  align-items: center;
  color: var(--color-light-text);
  justify-content: space-between;
  padding: 0;
  font-weight: 300;
}

.search-people > span {
  padding: 0 20px;
}

.search-icon {
  padding: 10px;
  background-color: var(--color-main);
  border-radius: 100%;
  margin: 8px 8px 8px 0;
}

.search-icon svg {
  color: white;
  height: 32px;
  width: 32px;
}

.search-feature {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  transition: transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding-bottom: 16px;
}

.search-feature.search-feature-hidden {
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
}

.search-feature-container {
  max-width: 800px;
  margin: auto;
}

.search-feature-nav {
  display: flex;
  height: 80px;
  justify-content: center;
}

.feature-nav-container {
  display: flex;
  height: 80px;
  align-items: center;
  gap: 12px;
}

.feature-nav-location button,
.feature-nav-experience button,
.feature-nav-liveExp button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 12px 0;
  font-weight: 300;
  cursor: pointer;
}

.feature-nav-liveExp button a {
  color: var(--color-dark-text);
  text-decoration: none;
}

.feature-nav-liveExp,
.feature-nav-location,
.feature-nav-experience {
  position: relative;
}

.feature-nav-location button span:hover,
.feature-nav-experience button span:hover,
.feature-nav-liveExp button span:hover {
  color: var(--color-light-text);
}

.feature-nav-liveExp.chosen button span,
.feature-nav-location.chosen button span,
.feature-nav-experience.chosen button span {
  pointer-events: none;
}

.feature-nav-liveExp button span::after,
.feature-nav-location button span::after,
.feature-nav-experience button span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background-color: var(--color-light-text);
  bottom: 0;
  left: 0;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 8px;
}

.feature-nav-location button span:hover:after,
.feature-nav-experience button span:hover:after,
.feature-nav-liveExp button span:hover:after {
  transform: scaleX(1);
}

.feature-nav-liveExp.chosen button span::after,
.feature-nav-location.chosen button span::after,
.feature-nav-experience.chosen button span::after {
  transform: scaleX(1);
  background-color: var(--color-dark-text);
}

.search-feature-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64px;
}

.search-feature-content p {
  text-align: initial;
}

.search-feature-content p:first-child {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.search-feature-content p:last-child {
  color: var(--color-light-text);
  font-size: 14px;
  font-weight: 400;
}

.feature-content-container {
  display: flex;
  align-items: center;
  border: var(--border-light);
  border-radius: 80px;
  width: 100%;
}

.feature-content-container.change-background {
  background-color: #e9e9e9;
}

.content-people {
  position: relative;
  height: 100%;
  flex: 1;
  border-radius: 80px;
  cursor: pointer;
}

.content-people:hover {
  background-color: var(--hover-background-color);
}

.content-people-container {
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px !important;
  padding: 8px 20px;
  height: 100%;
  z-index: 1;
}

.content-people .search-icon {
  padding: 14px;
  margin: 0 0 0 0;
}

.content-people .search-icon.change-size {
  display: flex;
  border-radius: 80px;
}

.content-check {
  height: 100%;
  cursor: pointer;
}

.content-check.wide {
  flex: 1;
}

.content-check.wide .content-check-container {
  display:block;
}

.content-check-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.content-checkout {
  position: relative;
  height: 100%;
  border-radius: 80px;
}

.content-checkout.hide {
  display: none;
}

.content-checkout-container {
  position: inherit;
  padding: 12px 20px;
  height: 100%;
  z-index: 1;
}

.content-checkout:hover {
  background-color: var(--hover-background-color);
}

.content-checkin {
  position: relative;
  height: 100%;
  border-radius: 80px;
}

.content-checkin.hide {
  display: none;
}

.content-checkin-container {
  position: inherit;
  padding: 12px 20px;
  height: 100%;
  z-index: 1;
}

.content-checkin:hover {
  background-color: var(--hover-background-color);
}

.content-more-day {
  position: relative;
  height: 100%;
  border-radius: 80px;
}

.content-more-day.hide {
  display: none;
}

.content-more-day-container {
  position: inherit;
  padding: 12px 20px;
  height: 100%;
  z-index: 1;
}

.content-more-day:hover {
  background-color: var(--hover-background-color);
}

.content-location {
  position: relative;
  flex: 1;
  height: 100%;
  border-radius: 80px;
  cursor: pointer;
}

.nav-content-chosen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 80px;
  box-shadow: var(--box-shadow-big);
  border: 1px solid white;
}

.content-location:hover {
  background-color: var(--hover-background-color);
}

.content-location input {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
}

.content-location-container {
  position: absolute;
  height: 100%;
  padding: 12px 20px;
  z-index: 1;
}

.text-search-icon {
  color: white;
  padding-left: 8px;
}

.feature-content-saperation {
  height: 50%;
  width: 0.6px;
  background-color: #dbdbdd;
  text-align: center;
}

.header-user {
  height: 100%;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.user-feature {
  display: flex;
  align-items: center;
}

.feature-lease {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 40px;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lease-link div {
  font-weight: 500;
}

.feature-lease:hover {
  background-color: var(--background-color-hover);
}

.feature-language {
  display: flex;
  padding: 10px;
  background-color: transparent;
  border-radius: 40px;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.feature-language:hover {
  background-color: var(--background-color-hover);
}

.feature-language button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sign-container {
  border: var(--border);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 10px;
}

.sign-container:hover {
  box-shadow: var(--box-shadow-hover);
}

.sign-container > button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 4px 0;
}

.user-icon {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

.nav-icon {
  padding: 0 10px;
}

.user-icon svg {
  color: var(--color-light-text);
  width: 100%;
  height: 100%;
}
